.button {
    cursor: pointer;
}

body {
    background-color: #2d3436;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.js-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

/* @keyframes rainbow {
    0% {
        color: red;
    } 14.3% {
        color: orange;
    } 28.6% {
        color: yellow;
    } 42.9% {
        color: green;
    } 57.2% {
        color: blue;
    } 71.5% {
        color: navy;
    } 85.5% {
        color: purple;
    } 100% {
        color: red;
    }
} */

/* @keyframes colorChange {
    0% {
        color: #ffb142;
    } 33.3% {
        color: #cc8e35;
    } 66.6% {
        color: #ccae62;
    } 100% {
        color: #ffb142;
    }
} */

.js-clock {
    color: white;
    animation: fadeIn 0.5s linear;
}

.hiding {
    display: none;
}
.showing {
    display: block;
}