@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  cursor: pointer;
}

::placeholder {
  color: white;
  opacity: 0.3;
}

body {
  background-color: #2d3436;
  font-family: "Open Sans", sans-serif;
}

.main {
  text-align: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -2;
  animation: fadeIn 0.5s linear;
}

.clock,
.greeting {
  color: white;
  animation: fadeIn 0.5s linear;
  margin-bottom: 5vh;
}

.clock {
  font-weight: bold;
  font-size: 5em;
  z-index: -1;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.clock div {
  font-size: 2em;
}

.usernameForm,
.todoForm,
.todoList {
  animation: fadeIn 0.5s linear;
}

.usernameForm {
  vertical-align: middle;
  height: fit-content;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  color: white;
}

.usernameForm input {
  color: white;
  background-color: transparent;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  font-size: 2em;
  /* border: 1px solid red; */
}

.greeting {
  font-size: 2.7em;
  font-weight: normal;
  opacity: 0.9;
}

.todoForm {
  vertical-align: middle;
  height: fit-content;
}

.todoForm input {
  color: white;
  background-color: transparent;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
  margin-bottom: 1vh;
}

.todoList {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  list-style-type: none;
  padding-left: 0;
}

.hiding {
  display: none;
}

.showing {
  display: block;
}

.toDoListItem {
  font-size: 1em;
  margin-top: 0;
}

.toDoText {
  display: inline-block;
  width: 250px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 2px;
  font-size: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.toDoListItem span[class="button"] {
  font-size: 0.7em;
  padding-left: 3px;
  position: relative;
  top: -4px;
  margin-bottom: 3px;
  display: inline-block;
}

.toDoListItem input[type="checkbox"] {
  position: relative;
  top: -3px;
  cursor: pointer;
}

.toDoNotDone {
  text-decoration: none;
}

.toDoDone {
  text-decoration: line-through;
  color: darkgray;
  opacity: 0.8;
}

.weather {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.weather-icon {
  font-size: 50px;
}
